@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}
  <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

<hr />
<div class="row">
      <nav class="navbar navbar-default navbar-custom" style="margin-bottom: 0">
        <div class="container-fluid">
            <div>
                <a class="navbar-brand" href="#" style="margin-top: -5px">
                    <img src=@Url.Content("~/Images/logo.png") width="77" height="34" />
                </a>
            </div>
            <ul class="nav navbar-nav rightnav-align hidden-xs" style="/*margin-top: 12px; margin-right: -8px;*/flex-direction:unset; float: right">
                <li>
                    <button class="btn btn-default btn-burgandy" style="text-align: center;" id="btnLogin" onclick="location.href='https://localhost:7231/Identity/Account/Login'">Log In</button>
                </li>
                <li>
                    <button class="btn btn-default btn-burgandy" onclick="location.href='https://localhost:7231/Identity/Account/Register'">Join</button>
                </li>
                <li>
                    <button class="btn btn-default btn-burgandy" onclick="location.href='https://localhost:7231/Home/ChooseMovies'">Visit</button>
                </li>
            </ul>
        </div>
    </nav>
    <h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
