@model List<App.Models.DataModels.QuibStream>

@{
    ViewBag.Title = "QuibStream";
}

<html>
<head>
    <title>Quib - Share what you know and love about great movies</title>
  <link href="~/Images/Q_favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/carousel.css" rel="stylesheet" />
    <link href="~/css/cropper.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="~/lib/jquery/dist/jquery-ui.min.js"></script>
      <link href="~/css/jquery-ui.min.css" rel="stylesheet"/>
     <script src="~/lib/jquery/dist/placeholder.js"></script>
    <script src="~/lib/jquery/dist/jquery-timer.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.touchSwipe.js"></script>
    <script src="~/lib/jquery/dist/withinviewport.js"></script>
    <script src="~/lib/jquery/dist/jquery.withinviewport.js"></script>
    <script src="~/js/NoSleep.js"></script>
    <script src="~/js/Carousel.js"></script>
    <script src="~/js/timeline.js"></script>
    <script src="~/js/timeline.js"></script>
    <script src="~/js/QuibStream.js"></script>
    <script src="~/js/QuibZero.js"></script>
    <script src="~/js/MyStream.js"></script>
    <script src="~/js/timer.js"></script>
    <script src="~/js/TagMap.js"></script>
    <script src="~/js/Common.js"></script>
    <script src="~/js/Home.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>  
    <script type="text/javascript">
        localStorage.setItem('MovieId', '@Context.Session.GetInt32("MovieId")');
       
       
        function showLoadingGIF() {
            var deferred = $.Deferred();
            $('.popup_load').css('display', 'block');

            setTimeout(function () {
                deferred.resolve();
            },100);
            return deferred.promise();
        }



        $(function () {
            $("#movieSlider").slider();
        });

        $(function () {
            $("#quibSlider").slider();
        });
         $(function () {
            $("#allSlider").slider();
        });
        
        var setbool = true;
        var sliderflag = true;

        window.onload = function () {
            if (localStorage.getItem("IsBackBtnClicked") == "true") {
                location.reload();
                localStorage.setItem("IsBackBtnClicked", "false");
            }
        }

        $(document).ready(function () {
         
        function btnPlay()
        {
                var that = $(this).find('#imgPlayPause');

                enabledisableNoSleep(true);
                if (IsQuibZeroOpen) {
                    if ($('#txtComposeQuib').val().length > 0) {
                        $('#save-quib-modal').modal('show');
                    }
                    else {
                        resizemystream = true;
                        openmystream = false;
                        $('.my-stream-panel').fadeOut();
                        isNavButtonClick = false;


                        if ($('#txtComposeQuib').val().length > 0) {
                            $('#save-quib-modal').modal('show');
                        }
                        else {
                            showLoadingGIF().then(function () {
                                // Timer font size and text
                                // Param : IsQuibZero?

                                FormatTimer(false);

                                IsQuibZeroOpen = false;

                                $('.popup_load').css('display', 'block');

                                // closing my stream panel
                                $('.my-stream-panel').addClass('hide');

                                // Param : IsQuibZero?
                                UpdateUIControls(false);

                                $('#quibContainer').empty();

                                LoadInitialQuibsQuibStream();
                                LoadAllQuibsQuibStream(quibs);
                               //LoadAllQuibsQuibStream(initialQuibs);
                               LoadInitialQuibsQuibStreamforcarousel();
                                LoadAllQuibsQuibStreamforcarousel(quibs);
                             


                                setTimeout(function () {
                                 
                                    UpdateComposeTime((ConvertTimeToSeconds($('#movieTimer').val())).toString().toHHMMSS());

                                    PlayMovie();

                                    // My stream compose timer
                                    $('.quib-compose-timer').formatTime();
                                    $('.popup_load').css('display', 'none');
                                }, 1000);
                            });
                        }

                    }
                }
                else {
                    var quibScrbrStartClick = $('#quibSlider').slider('value');
                    IsIntervalTimeUP = false;
                    isNavButtonClick = false;
                    PlayMovie();
                   }

        } btnPlay();
            function PlayMovie() {
                $('.movie-time-wrapper').css('margin-top', 0)
                isRunning = !isRunning;
                if (selectedMovieLength != 0) {
                    if (isRunning) {
                        // Starting actual timer
                        StartTimer();
                        $('#imgPlayPause').attr('src', imgPath + imgNamePause);
                        UpdateComposeTime($('#movieTimer').val());
                        
                        UpdateUIControls(false);

                        isSliderSync = true;

                        $('#QuibScrubber').css('background-image', "url('" + localStorage.getItem('environment') + "/Images/bottom.png')");

                        // if user hit play button when movie is desync, we need to sync back and hide all quibs having greater time then movie timer
                ClearQuibsAhead($('#movieSlider').slider('value'));
                      
                    }
                    else {
                        StopTimer();
                        $('#imgPlayPause').attr('src', imgPath + imgNamePlay);
                    }
                }
            }


            function ClearQuibsAhead(quibTime, quibScrbrStartClick) {
                showLoadingGIF().then(function () {
                    
                    $('.quib-item .quib-compose-timer').filter(function (index, val) {
                        if (parseInt(ConvertTimeToSeconds($(val).val())) > parseInt(quibTime)) {
                            $(val).parents('.quib-item').css('visibility', 'hidden');
                        }
                        else {
                            $(val).parents('.quib-item').css('visibility', 'visible');
                        }
                    });

                    //VIEWPORT START
                    var cols_array = [];
                    $(".quib-item").withinviewport().each(function () {
                        cols_array.push(parseInt($(this).attr("colmvalue")));
                    });


                    if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                        var curColumnValue = Math.min.apply(Math, cols_array);
                    }
                    else {
                        var curColumnValue = Math.min.apply(Math, cols_array) + 1;
                    }
                    //VIEWPORT END
                    if (totalTicks - quibScrbrStartClick > 0) {
                        var highColumnValue = $('.HilightQuib').first().attr('colmValue');
                        var slidesToClick = (highColumnValue - curColumnValue);
                        var scrollval = ($('.quib-item').width()) * slidesToClick;

                        if (sliderflag) {
                            scrollByNew(scrollval);
                        }
                    }
                    else {
                        var highColumnValue = $('.HilightQuib').first().attr('colmValue');
                        var slidesToClick = (curColumnValue - highColumnValue);
                        var scrollval = ($('.quib-item').width()) * slidesToClick;

                        if (sliderflag) {
                            scrollByNew(-scrollval);
                        }
                    }
                    $('.popup_load').css('display', 'none');


                });
            }
            SetMovieThumbnail();
            function scrollByNew(x) {
                sliderflag = false;
                $('#quib-list').stop().animate({
                    scrollLeft: '+=' + x,
                }, 300, function () {
                    // Animation complete.
                    sliderflag = true;
                });
                event.preventDefault();
            }

            $("#quib-list").swipe({
                //Generic swipe handler for all directions
                swipeRight: function (event, direction, distance, duration, fingerCount, fingerData) {
                    slideLeft();
                },
                swipeLeft: function (event, direction, distance, duration, fingerCount, fingerData) {

                    slideRight();
                }
            });

            $('.right').click(function () {
                slideRight();
            });

            $('.left').click(function () {
                slideLeft();
            });

            function slideRight() {
                isSliderSync = false;
                if (sliderflag) {
                    isNavButtonClick = true;

                    // show all quibs
                    $('.quib-item').css('visibility', 'visible');

                    // slide right
                    
                    scrollDefferdright().then(function () {

                        //VIEWPORT START
                        var cols_array = [];
                        $(".quib-item").withinviewport().each(function () {
                            cols_array.push(parseInt($(this).attr("colmvalue")));
                        });

                        var curColumnValue = Math.min.apply(Math, cols_array) + 1;
                        //VIEWPORT END

                        var time = ConvertTimeToSeconds($(".quib-item[colmvalue='" + curColumnValue + "']").find('.quib-compose-timer').first().val());

                        $('#quibSlider').slider('value', time);
                        $('#QuibScrubber').css('background-image', "url('" + localStorage.getItem('environment') + "/Images/bottom_line.png')");
                    });
                   
                }
            }


            //slide right asynchronous

            function scrollDefferdright() {
                var deferred = $.Deferred();

                if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                    var scrollval = $('.quib-container').width();
                    var slidesToClick = parseInt(Math.round($('#quibContainer').width() / $('.quib-item').width()));
                }
                else {
                    var slidesToClick = parseInt(Math.round($('#quibContainer')[0].getBoundingClientRect().width / $('.quib-item')[0].getBoundingClientRect().width) - 1);
                    var scrollval = ($('.quib-item').width()) * slidesToClick;
                }
                scrollByNew(scrollval);

                setTimeout(function () {
                    deferred.resolve();
                }, 300);
                return deferred.promise();
            }

            


            function slideLeft() {

                isSliderSync = false;
                if (sliderflag) {
                    isNavButtonClick = true;

                    // show all quibs
                    $('.quib-item').css('visibility', 'visible');
                 
                    // slide right
                    scrollDefferdleft().then(function () {


                        //VIEWPORT START
                        var cols_array = [];
                        $(".quib-item").withinviewport().each(function () {
                            cols_array.push(parseInt($(this).attr("colmvalue")));
                        });

                        var curColumnValue = Math.min.apply(Math, cols_array) + 1;
                        //VIEWPORT END

                        var time = ConvertTimeToSeconds($(".quib-item[colmvalue='" + curColumnValue + "']").find('.quib-compose-timer').first().val());

                        $('#quibSlider').slider('value', time);
                        $('#QuibScrubber').css('background-image', "url('" + localStorage.getItem('environment') + "/Images/bottom_line.png')");
                    });
                    
                }
            }


            //slide left asynchronous

            function scrollDefferdleft() {
                var deferred = $.Deferred();

                if ((parseInt($('#quibContainer').width() - $('.quib-item').width())) == 0) {
                    var scrollval = $('.quib-container').width();
                    var slidesToClick = parseInt(Math.round($('#quibContainer').width() / $('.quib-item').width()));
                }
                else {
                    var slidesToClick = parseInt(Math.round($('#quibContainer')[0].getBoundingClientRect().width / $('.quib-item')[0].getBoundingClientRect().width) - 1);
                    var scrollval = ($('.quib-item').width()) * slidesToClick;
                }
                scrollByNew(-scrollval);

                setTimeout(function () {
                    deferred.resolve();
                }, 300);
                return deferred.promise();
            }

        });

        var quib = {};
        quib.GlobalDeclarations = {
            fnCurrentFlag: function () {
                var counter = 0;
                return function (isRequired) {
                    if (isRequired) {
                        counter++;
                    }
                    return counter;
                }
            }()
        };

        $('document').ready(ApplyStyleToQuibStream);

        $(window).resize(function () {
            resizemystream;
            if (resizemystream) {
                ApplyStyleToQuibStream();
                ApplyStyleToQuibStreamforcarousel();
                var totalScroll = $('#quib-list').scrollLeft();
                var offsetPos = $('#quib-list').offset();
                var prevcolPos = $('.HilightQuib').offset();
                $('#quib-list').scrollLeft(totalScroll + (prevcolPos.left - offsetPos.left));
            }
            
        });

        function ApplyStyleToQuibStream() {
            $('.popup_load').css('display', 'block');
            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 0;
            var leftPos = 0;
            var maxqheight = $(".quib-container").height();

            // will get the exact column that fits in a screen
            $(".quib-container").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());


                var quibheight = $(this).height();
                if (maxqheight < (quibheight + 50)) {
                   
                    $(this).find(".inner1 .panel-body").css('height', maxqheight - 7 + 'px');
                    $(this).find(".inner1 .panel-body").css({ "overflow-y": "auto","overflow": "auto","overflow-x": "hidden"});
                }

                if (TotalHight > $(".quib-container").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }


                $(this).attr('colmValue', Col.toString());
                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')
            });
            
            setTimeout(function () {
                $('.popup_load').css("display", "none");
            }, 500);
               
        };
           function ApplyStyleToQuibStreamforcarousel() {
            $('.popup_load').css('display', 'block');
            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 0;
            var leftPos = 0;
            var maxqheight = $(".quibsdata").height();

            // will get the exact column that fits in a screen
            $(".quibsdata").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());


                var quibheight = $(this).height();
                if (maxqheight < (quibheight + 50)) {
                   
                    $(this).find(".inner1 .panel-body").css('height', maxqheight - 7 + 'px');
                    $(this).find(".inner1 .panel-body").css({ "overflow-y": "auto","overflow": "auto","overflow-x": "hidden"});
                }

                if (TotalHight > $(".quibsdata").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }
                $(this).attr('colmValue', Col.toString());
                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')
            });
            
            setTimeout(function () {
                $('.popup_load').css("display", "none");
            }, 500);
               
        };
    </script>
</head>

<body>
    @*loading overlay*@
    <div class="popup_load">
        <div class="fade12" ></div>
        <div>
            <img src=@Url.Content("~/Images/loadingImg.gif") class="popup_busy" alt="Processing..." />
        </div>
    </div>

    <div class="navbar navbar-default navbar-custom" style="margin-bottom: 5px;">
        <div class="header-align" style="">
            <div class="col-md-6 col-lg-6 col-sm-6 hidden-xs">
                <div class="top-poster">
                    <img src="~/Images/movie_posters/full_res/5_Pulp Fiction.jpg" height="48" width="34" class="MoviePosterThumb" style="margin-left: -6px;" />
                    <div class="movietitle"></div>
                </div>
              
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 " style="position: relative; text-align: center">
                <div class="hidden-lg hidden-sm hidden-md" style="position: absolute; float: left; left: -22px; margin-top: -7px;">
                    <img src="~/Images/jawsMoviePoster_33x48.png" height="48" width="34" class="MoviePosterThumb" style="margin-left: -6px;" />
                </div>
                <div class="movie-time-panel" style="display: inline-block; justify-content: center; display: -webkit-flex; align-items: center;">
                    <a id="btnMinus" style="display: none">
                        <img src="~/Images/minus.png" />
                    </a>
                    <div class="movie-time-wrapper">
                        <input id="movieTimer" type="text" class="form-control movie-timer" value="" readonly="readonly" title="write a quib"/>
                        <input id="quibTimer" type="text" class="form-control movie-timer" value="QUIB ZERO" readonly="readonly" style="display: none" />
                     
                    </div>
                    <a id="btnPlus" style="display: none">
                        <img src="~/Images/plus.png" />
                    </a>
                </div>
                <a class="btnPlay" style="float: right; position: absolute; top: 2px; right: 18px;">
                    <img id="imgPlayPause" src="~/Images/play.png" width="29" height="36" />
                </a>
            </div>
           @* <div class="col-md-4 col-lg-3 col-sm-6 hidden-sm hidden-xs"></div>*@
            <div class="col-md-2 col-lg-2 col-sm-2 hidden-sm hidden-xs">
                <ul class="nav " style="float: right; margin-top: -6px; margin-right: -34px;">
                    @if (!(Context.User.Identity.IsAuthenticated))
                    {
                        <li style=" position: absolute;top: -5px;right: 31px;">
                            <button onclick="RedirectToLogin(event)" class="btn-burgandy btn-guest-login">Log In</button>
                        </li>
                    }
                    else
                    {
                        <li style=" position: absolute;top: 3px;right: 40px;">
                            <button class="btn btn-default btn-burgandy" style="text-align: center;" id="btnLogin" onclick="RedirectToLogout(event)">Log Out</button>
                        </li>
                        <li style="position: absolute;top: -5px; right: -22px;">
                            <img src=@Url.Content("~/Images/avatar_thumb.png") height="48" width="48" id="ImgAvtrLogo" />
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="caouselhide" style="display:none;height:100vh;width:100%;margin-bottom:10px">
            <div class="slider-container" item-display-d="4">
                <div class="slider-width">
                    
                </div>
            </div>
            <button type="button" id="prev" style="margin-top:5px">Prev</button>
            <button type="button" id="next" style="margin-top:5px">Next</button>
        </div>
        
    </div>
 

    <button style="background-color:dimgrey;color:black;display:none;" class="returnToQuib">Tap Here To Return To Quibs</button>

    <div class="container-fluid">

        @************My stream****************@

        <div class="my-stream-panel col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="row my-stream-panel-wrap" style="overflow-y: hidden; height: 100%; height: calc(100% - 38px);">
                <div class="my-stream-compose" id="myStreamCompose">
                    <textarea id="txtComposeQuib" ></textarea>
                    <span class="close-stream" id="CloseStream">
                        <img src="~/Images/close.png" />
                    </span>
                </div>
                <div class="mystream-panel-header">
                    <div class="mystream-txt">
                        <img src="~/Images/myStream_red_01.png" style="width: 100%; height: 100%" />
                        <div style="position: relative; top: -26px">
                            <span>My Stream </span>
                            <span id="MyStreamCount">18</span>
                        </div>
                    </div>

                    <div class="mystream-time" style="float: left; background-color: white; width: 40%; text-align: center; height: 28px">
                        <button type="button" id="BtnSave" class="btn btn-default btn-burgandy" style="margin: 0 auto; text-align: center; padding: 4px 12px; font-size: 12px">Save</button>
                    </div>
                </div>
                <div style="background: #990000; padding-right: 3px;">
                    <div class="mystream-panel-content" style="height: calc(100% - 87px);">
                        <div id="myStreamPanel" style="padding-bottom: 100%">
                            @*LOADIG FROM MyStream.js*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="row mystream-footer" style="background-color: black; height: 38px; clear: both">
                <button type="button" class="btn btn-default btn-burgandy" data-toggle="modal" data-target="#postall-quib-modal" style="background-color: white; padding: 2px 9px; font-size: 12px; float: right; margin-right: 17px; margin-top: 9px; min-width: 90px">Post All</button>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="hide">
                <div class="row">
                    <div class="quib-panel" style="position: relative; padding: 0 36px">
                        <div class="quib-panel-group" style="overflow: hidden; position: relative;">
                            <div id="quib-list" style="overflow: hidden; top: 0px; bottom: -18px; left: 0px; right: 0;">
                                <div class="quib-container" id="quibContainer" style="height: calc(100% - 118px); visibility:hidden">
                                   
                                </div>
                            </div>
                            <div class="prev-arrows" id="prevOpenCompose"style="margin-left: 336px;visibility:hidden;">
                            <span class=" left">
                                <img src=@Url.Content("~/Images/left-arrow.png") />
                            </span>
                        </div>
                        </div>
                        <div class="prev-arrows">
                            <span class=" left" style="left: 10px">
                                <img src=@Url.Content("~/Images/left-arrow.png") />
                            </span>
                        </div>
                        <div class="next-arrows">
                            <span class="right " style="right: 10px">
                                <img src=@Url.Content("~/Images/right-arrow.png") />
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default" id="rating-quib" style="">
            <div id="divTags" class="panel-body" style="font-size: 12px">
                <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0 5px;">
                    <h5>This is quib zero is about</h5>
                    <input type="checkbox" id="1" />
                    People, Performance<br>
                    <input type="checkbox" id="2" />
                    Story, Dialogue<br>
                    <input type="checkbox" id="3" />
                    Directing, Movement<br>
                    <input type="checkbox" id="4" />
                    Cinematography, Editing<br>
                    <input type="checkbox" id="5" />
                    Music, Sound<br>
                    <input type="checkbox" id="6" />
                    Animation, Effects<br>
                    <input type="checkbox" id="7" />
                    Costume, Set, Location<br>
                    <input type="checkbox" id="8" />
                    Cameras, Film, Process<br>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6" style="padding: 0 5px;">
                    <h5>This is quib zero </h5>
                    <input type="checkbox" id="9" />
                    Insightful<br>
                    <input type="checkbox" id="10" />
                    Funny<br>
                    <input type="checkbox" id="11" />
                    Harsh<br>
                    <input type="checkbox" id="12" />
                    R-Rated<br>
                    <h5>Flag this quib zero as:</h5>
                    <input type="checkbox" id="13" />
                    Spoiler<br>
                    <input type="checkbox" id="14" />
                    Incorrect<br>
                    <input type="checkbox" id="16" />
                    Spam<br>
                    <input type="checkbox" id="17" />
                    Troll<br>
                </div>

                <div class="quib-rating col-md-12 " style="clear: both">
                    <span style="float: left">Rate this quib zero:</span>
                    <div class="quib-rating-img" style="float: left; font-size: 14px; margin-left: 20px">
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                        <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    </div>
                    <button style="float: right" class="btn btn-default btn-stream" id="btnDone">Done</button>
                </div>

            </div>
        </div>
    </div>

    <nav class="navbar navbar-default navbar-fixed-bottom" style="height: 56px; text-align: center; border: 0; background-color: #FFFFCC">
        <div class="container-fluid">
            <div class="scrubber-wrapper" style="display: flex; justify-content: center; padding-top: 5px; background-color: #FFFFCC">
                <div id="btnQuibZeroDiv" style="float: left;width:4%;">
                    <a id="btnQuibZero">
                        <img id="carouselOffset" src="~/Images/CarouselButoonOffset.jpg" />
                        <img id="carouselExpand" src="~/Images/CaraouselExpand.jpg" />

                    </a>
                </div>


                <div class="slider" style="padding: 1px 0">
                    <div class="allSliderWrapper">
                        <div id="allSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all;" style="height: 16px; border: none; background-color: #FFFFCC">
                            <span id="allScrubber" class="ui-slider-handle ui-state-default ui-corner-all allSlider-span" style=""></span>
                        </div>
                    </div>
                    <canvas id="timelineCanvas" style="height: 10px; width: 100%; background-color: #FFFFCC"></canvas>
                    <div class="movieSliderWrapper">
                        <div id="movieSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all;" style="height: 16px; border: none; background-color: #FFFFCC">
                            <span id="MovieScrubber" class="ui-slider-handle ui-state-default ui-corner-all movieSlider-span" style=""></span>
                        </div>
                    </div>
                   
                    <div class="quibSliderWrapper">
                        <div id="quibSlider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="height: 16px; border: none; background-color: #FFFFCC">
                            <span id="QuibScrubber" class="ui-slider-handle ui-state-default ui-corner-all quibSlider-span"></span>
                        </div>
                    </div>
                </div>
                <div class="syncbtn"style="width: 4%;">
                    <div class="Allsync" style="width:100%;float: left; margin-left: 20px; padding-top: 2px;">
                        <img src="~/Images/AllSync.jpg" style="width:121%;height:100%;margin-top:-9%;" />
                    </div>
                    <div class="DualSync">
                        <div class="btn-resynquib"title="Resync Quib">
                            <a>
                                <img src="~/Images/halfMovieSync.jpg" style="height:10%;"/>
                            </a>
                        </div>
                        <div class="btn-resyncmovie" title="Resync Movie">
                            <a>
                                <img src="~/Images/otherHalfMovieSync.jpg" style="height:10%;" />
                            </a>
                        </div>
                    </div>
                    <div class="DualSyncmovie">
                        <div class="btn-resynquib" title="Resync Quib">
                            <a>
                                <img src="~/Images/HalfQuibSync.jpg" style="height:10%;" />
                            </a>
                        </div>
                        <div class="btn-resyncmovie" title="Resync Movie">
                            <a>
                                <img src="~/Images/otherHalfQuibSync.jpg" style="height:10%;" />
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    @*MESSAGE POP-UPS*@
    <div class="modal fade" id="guest-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Please register to use this feature.
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-custom" onclick="window.location.href = '@Url.Action("Logout", "Login")'">Register now</button>*@
                    <button type="button" class="btn btn-custom" onclick="RedirectToRegister(event)">Register now</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No thanks</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="postall-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to post your quibs?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnPostAll">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="post-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to post your quib?
                </div>
                <input type="hidden" id="PostQuibId" />
                <input type="hidden" id="PostQuibBody" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="UpdateQuibPostedDate($('#PostQuibId').val(), $('#PostQuibBody').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this quib?
                </div>
                <input type="hidden" id="DeleteQuibId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnDeleteQuib" onclick="ConfirmDeleteQuibById($('#DeleteQuibId').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="end-movie-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    The end. We hope you are enjoying Quib!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" data-dismiss="modal" onclick="StopTimer();$('#imgPlayPause').attr('src', imgPath + imgNamePlay);">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="leave-compose-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to play movie without saving a quib zero?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="leaveComposeModalYes()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="save-quib-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Please save your quib!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="$('#save-quib-modal').modal('hide');">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="bump-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    You are bumping this quib into My Stream. Bumping lets you curate a collection of quibs.
                </div>
                <input type="hidden" id="BumpQuibId" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" id="btnOKBumpDlg">OK</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-bump-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this quib?
                </div>
                <input type="hidden" id="DeleteBumpQuibId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom" onclick="ConfirmDeleteBumpQuibById($('#DeleteBumpQuibId').val())">Yes</button>
                    <button type="button" class="btn btn-custom" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



     <div class="modal fade" id="follower-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header modal-header-custom">
                    <img src=@Url.Content("~/Images/logo.png") />
                </div>
                <div class="modal-body">
                   You have successfully followed this person
                </div>
                <input type="hidden" id="followerId">
                <div class="modal-footer">
                    <button type="button" class="btn btn-custom"  data-dismiss="modal" >Ok</button>                   
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
$(document).ready(function() {
    BindBumpClick();

});
    </script>
</body>
</html>
