@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/site.css" rel="stylesheet" />


<style type="text/css">

</style>

<script src="~/lib/jquery/dist/Jquery1.10.js"></script>
<script src="~/js/Profile.js"></script>
<script src="~/js/Common.js"></script>
<script type="text/javascript">
    var url = "@Context.Request.Host";
    var userid = localStorage.getItem("UserId");
    if (localStorage.getItem('environment') == null || localStorage.getItem('environment') == "" || localStorage.getItem('environment').length == 0)

        localStorage.setItem('environment', 'https://' + url);
    $(window).load(function () {

        $('#community-quib').on('click', function () {

            $('.quibber').show();
            $('.Following,.Followers').hide();
            $(this).addClass('active-list').siblings().removeClass();

            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 10;
            var leftPos = 0;

            $(".profile-container1").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());

                if (TotalHight > $(".profile-container1").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }

                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')

            })

        });


        $('#community-followers').on('click', function () {
            $('.Followers').show();
            $('.Following,.quibber').hide();
            $(this).addClass('active-list').siblings().removeClass();

            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 10;
            var leftPos = 0;

            $(".profile-container2").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());

                if (TotalHight > $(".profile-container2").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }

                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')

            })

        });

        $('#community-following').on('click', function () {
            $('.Following').show();
            $('.Followers,.quibber').hide();
            $(this).addClass('active-list').siblings().removeClass();

            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 10;
            var leftPos = 0;

            $(".profile-container3").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());

                if (TotalHight > $(".profile-container3").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }

                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')
            })
        });



        $(function () {
            var Col = 0;
            var TotalHight = 0;
            var margin_bottom = 10;
            var margin_right = 10;
            var leftPos = 0;

            $(".profile-container1").children().each(function () {
                TotalHight = TotalHight + margin_bottom + $(this).height();
                var topPos = TotalHight - (margin_bottom + $(this).height());
                if (TotalHight > $(".profile-container1").height()) {
                    Col = Col + 1;
                    leftPos = ($(this).width() + margin_right) * Col;
                    TotalHight = $(this).height() + margin_bottom;
                    topPos = 0;
                }
                $(this).css('top', topPos + 'px')
                $(this).css('left', leftPos + 'px')

            })

        });

        var scrollval = $('.quib-list').width();


        $.fn.scrollBy = function (x) {
            return this.animate({
                scrollLeft: '+=' + x,

            });
        };
        $('.right').click(function () {
            $('.quib-list').stop().scrollBy(scrollval);
        });
        $('.left').click(function () {
            $('.quib-list').stop().scrollBy(-scrollval, 0);
        });
    });

</script>


<nav class="navbar navbar-default navbar-custom" style="margin-bottom: -1px">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="#" style="margin-top: -7px">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true" style="font-size: 36px; color: #990000"></span>

            </a>
        </div>
        <div class="navbar-left navbar-center" style="padding-top: 4px">
            <span style="font-size: 30px">Quib Community</span>

        </div>
        <ul class="nav " style="margin-top: 10px; float: right">
            <li>
                <img src="~/Images/avatar.png" height="34" width="34" />
            </li>
        </ul>

    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container-fluid" style="padding-left: 10px;">

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">

            <div class="profile" style="background-color: #dcdcdc; padding: 0 2px 2px 2px; padding-top: 7px; padding-left: 5px; padding-right: 5px">

                <div class="profile-img" style="float: left; width: 117px; height: 122px">
                    <img src="~/Images/avatar.png" />

                </div>

                <div class="profile-details" style="height: 122px; padding-top: 8px">
                    <address>
                        <strong>Batman</strong><br>
                        <strong>Bruce Wayne</strong>
                    </address>
                    <div class="profile-edit" style="margin-top: 34px">
                        <button type="submit" class="btn btn-default btn-burgandy" style="float: left; padding: 3px 12px">Edit Profile</button>
                        <button type="submit" class="btn btn-default btn-burgandy" style="float: right; padding: 3px 12px" onclick="RedirectToLogout(event)>Logout</button>
                    </div>
                </div>


                <div class="profile-description" style="clear: both">
                    Lorem ipsum dolor sit amet, sed id admodum persecuti repudiandae, alia error in nam. Ex quando cetero insolens sit, te nulla insolens cum. Vis te veniam offendit persequeris. Ius dicta expetenda quaerendum an. Eam putant sensibus ex. Oportere voluptatum honestatis ei mel, lorem nostrud lobortis ex vim. Nec esse maiorum cu, duo ea partem laoreet
                    Lorem ipsum dolor sit amet, sed id admodum persecuti repudiandae, alia error in nam. Ex quando cetero insolens sit, te nulla insolens cum.
                    Lorem ipsum dolor sit amet, sed id admodum persecuti repudiandae.
                </div>
            </div>
            <div class="community-list" style="padding-top: 10px; background-color: #dcdcdc;">
                <ul class="list-group">
                    <li style="position: relative;" class="active-list" id="community-quib">
                        <div style="position: absolute; right: 10px">
                            <span>Quibbed</span>
                            <span class="following-count">86</span>
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </div>
                    </li>
                    <li style="position: relative;" id="community-followers">
                        <div style="position: absolute; right: 10px">
                            <span>Followers</span>
                            <span class="following-count">86</span>
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </div>
                    </li>
                    <li style="position: relative;" id="community-following">
                        <div style="position: absolute; right: 10px">
                            <span>Following</span>
                            <span class="following-count">86</span>
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </div>
                    </li>

                </ul>
            </div>

        </div>


        <div class="col-lg-9  col-md-8 col-sm-6 col-xs-12">
            <div class="row">
                <div class="quibber" style="display: none">
                    <div class="side-header" style="padding: 10px 0px">
                        <div style="width: 40px"><span style="font-size: 22px">Quibbed</span></div>
                        <div style="position: absolute; right: 12px; top: 14px;">
                            <span class="glyphicon glyphicon-menu-left left" aria-hidden="true" style="font-size: 22px; color: #990000"></span>
                            <span class="glyphicon glyphicon-menu-right right" aria-hidden="true" style="font-size: 22px; color: #990000"></span>

                        </div>
                    </div>
                    <div class="quib-list-group" style="overflow: hidden; position: relative;">
                        <div class="quib-list" style="overflow: hidden; top: 0px; bottom: -18px; left: 0px; right: 0;">
                            <div class="profile-container1">
                                <div class="item">
                                    <div class="quib-profile-header">
                                        <img src="~/Images/jawsMoviePoster_33x48.png" />
                                        <div class="quib-profile-details">
                                            <div>Birdman</div>
                                            <div>2015</div>
                                            <div>San Francisco, CA 94107</div>

                                        </div>


                                    </div>

                                    <div class="quib-profile-img">
                                        <img src="~/Images/playQuib_01.png" />
                                    </div>

                                </div>
                                <div class="item">
                                    <span>Movie 02</span>
                                </div>
                                <div class="item">
                                    <span>Movie 03</span>
                                </div>
                                <div class="item">
                                    <span>Movie 04</span>
                                </div>
                                <div class="item">
                                    <span>Movie 05</span>
                                </div>
                                <div class="item">
                                    <span>Movie 06</span>
                                </div>
                                <div class="item">
                                    <span>Movie 07</span>
                                </div>
                                <div class="item">
                                    <span>Movie 08</span>
                                </div>
                                <div class="item">
                                    <span>Movie 09</span>
                                </div>
                                <div class="item">
                                    <span>Movie 010</span>
                                </div>
                                <div class="item">
                                    <span>Movie 011</span>
                                </div>

                                <div class="item">
                                    <span>Movie 012</span>
                                </div>
                                <div class="item">
                                    <span>Movie 013</span>
                                </div>
                                <div class="item">
                                    <span>Movie 014</span>
                                </div>
                                <div class="item">
                                    <span>Movie 015</span>
                                </div>
                                <div class="item">
                                    <span>Movie 016</span>
                                </div>
                                <div class="item">
                                    <span>Movie 017</span>
                                </div>
                                <div class="item">
                                    <span>Movie 018</span>
                                </div>
                                <div class="item">
                                    <span>Movie 019</span>
                                </div>
                                <div class="item">
                                    <span>Movie 020</span>
                                </div>
                                <div class="item">
                                    <span>Movie 021</span>
                                </div>
                                <div class="item">
                                    <span>Movie 022</span>
                                </div>
                                <div class="item">
                                    <span>Movie 01</span>
                                </div>
                                <div class="item">
                                    <span>Movie 02</span>
                                </div>
                                <div class="item">
                                    <span>Movie 03</span>
                                </div>
                                <div class="item">
                                    <span>Movie 04</span>
                                </div>
                                <div class="item">
                                    <span>Movie 05</span>
                                </div>
                                <div class="item">
                                    <span>Movie 06</span>
                                </div>
                                <div class="item">
                                    <span>Movie 07</span>
                                </div>
                                <div class="item">
                                    <span>Movie 08</span>
                                </div>
                                <div class="item">
                                    <span>Movie 09</span>
                                </div>
                                <div class="item">
                                    <span>Movie 010</span>
                                </div>
                                <div class="item">
                                    <span>Movie 011</span>
                                </div>

                                <div class="item">
                                    <span>Movie 012</span>
                                </div>
                                <div class="item">
                                    <span>Movie 013</span>
                                </div>
                                <div class="item">
                                    <span>Movie 014</span>
                                </div>
                                <div class="item">
                                    <span>Movie 015</span>
                                </div>
                                <div class="item">
                                    <span>Movie 016</span>
                                </div>
                                <div class="item">
                                    <span>Movie 017</span>
                                </div>
                                <div class="item">
                                    <span>Movie 018</span>
                                </div>
                                <div class="item">
                                    <span>Movie 019</span>
                                </div>
                                <div class="item">
                                    <span>Movie 020</span>
                                </div>
                                <div class="item">
                                    <span>Movie 021</span>
                                </div>
                                <div class="item">
                                    <span>Movie 022</span>
                                </div>
                                <div class="item">
                                    <span>Movie 01</span>
                                </div>
                                <div class="item">
                                    <span>Movie 02</span>
                                </div>
                                <div class="item">
                                    <span>Movie 03</span>
                                </div>
                                <div class="item">
                                    <span>Movie 04</span>
                                </div>
                                <div class="item">
                                    <span>Movie 05</span>
                                </div>
                                <div class="item">
                                    <span>Movie 06</span>
                                </div>
                                <div class="item">
                                    <span>Movie 07</span>
                                </div>
                                <div class="item">
                                    <span>Movie 08</span>
                                </div>
                                <div class="item">
                                    <span>Movie 09</span>
                                </div>
                                <div class="item">
                                    <span>Movie 010</span>
                                </div>
                                <div class="item">
                                    <span>Movie 011</span>
                                </div>

                                <div class="item">
                                    <span>Movie 012</span>
                                </div>
                                <div class="item">
                                    <span>Movie 013</span>
                                </div>
                                <div class="item">
                                    <span>Movie 014</span>
                                </div>
                                <div class="item">
                                    <span>Movie 015</span>
                                </div>
                                <div class="item">
                                    <span>Movie 016</span>
                                </div>
                                <div class="item">
                                    <span>Movie 017</span>
                                </div>
                                <div class="item">
                                    <span>Movie 018</span>
                                </div>
                                <div class="item">
                                    <span>Movie 019</span>
                                </div>
                                <div class="item">
                                    <span>Movie 020</span>
                                </div>
                                <div class="item">
                                    <span>Movie 021</span>
                                </div>
                                <div class="item">
                                    <span>Movie 022</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="Followers" style="display: none">

                    <div class="side-header" style="padding: 10px 0px">
                        <div style="width: 40px"><span style="font-size: 22px">Followers</span></div>
                        <div style="position: absolute; right: 12px; top: 14px;">
                            <span class="glyphicon glyphicon-menu-left left" aria-hidden="true" style="font-size: 22px; color: #990000"></span>
                            <span class="glyphicon glyphicon-menu-right right" aria-hidden="true" style="font-size: 22px; color: #990000"></span>

                        </div>
                    </div>
                    <div class="quib-list-group" style="overflow: hidden; position: relative;">
                        <div class="quib-list" style="overflow: hidden; position: absolute; top: 0px; bottom: -18px; left: 0px; right: 0; margin-right: 10px">
                            <div class="profile-container2">
                                <div class="follower-item">
                                    <div class="follower-image">
                                        <img src="~/Images/avatar.png" /><span>Dwayne </span>
                                    </div>

                                    <div class="follower-button">
                                        <button type="submit" class="btn btn-default">Following</button>
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>



                </div>

                <div class="Following" style="display: none">

                    <div class="side-header" style="padding: 10px 0px">
                        <div style="width: 40px"><span style="font-size: 22px">Following</span></div>
                        <div style="position: absolute; right: 12px; top: 14px;">
                            <span class="glyphicon glyphicon-menu-left left" aria-hidden="true" style="font-size: 22px; color: #990000"></span>
                            <span class="glyphicon glyphicon-menu-right right" aria-hidden="true" style="font-size: 22px; color: #990000"></span>

                        </div>
                    </div>
                    <div class="quib-list-group" style="overflow: hidden; position: relative;">
                        <div class="quib-list" style="overflow: hidden; position: absolute; top: 0px; bottom: -18px; left: 0px; right: 0; margin-right: 10px">
                            <div class="profile-container3">
                                <div class="follower-item">
                                    <div class="follower-image">
                                        <img src="~/Images/avatar.png" /><span>Dwayne </span>
                                    </div>

                                    <div class="follower-button">
                                        <button type="submit" class="btn btn-default">Unfollow</button>
                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>
                </div>

                <div class="edit-profile col-md-4 col-sm-6 col-xs-12">


                    <form class="register-form edit-profile-form">
                        <div class="form-group ">
                            <input type="text" class="form-control " placeholder="">
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control " placeholder="Password">
                        </div>

                        <div class="form-group">

                            <input type="password" class="form-control " placeholder="Confirm Password">
                        </div>
                        <div class="form-group">

                            <input type="text" class="form-control " placeholder="first Name">
                        </div>

                        <div class="form-group">

                            <input type="text" class="form-control " placeholder="last Name">
                        </div>

                        <textarea class="form-control personal-statement" placeholder="personal statement..."></textarea>
                        <div class="form-group file-avatar">
                            <div class="avatar-style">
                                <img src="~/Images/avatar.png" />
                            </div>
                            <div style="display: inline; float: left; margin-top: 36px; margin-left: 15px;font-size:11px">
                                <input type="button" class="btn choose-file-button" value="Upload new image" />
                                <input type="file" style="opacity: 0; position: relative; left: -40px; width: 100px; top: -24px;" />

                            </div>
                        </div>
                    </form>

                </div>



            </div>

        </div>

    </div>



</div>

